
@{
    ViewBag.Title = "Create New Student - MVC";
}
@section scripts{
    <script>
        //CALLING METHOD IN THE CONTROLLER TO DO SOME WORK
        function StartProcess() {

            $.getJSON("@Url.Action("LongRunningProcess")",
                {},
                function (data) {
                    if (!data) {
                        alert("Success");
                    }
                    else {
                        alert(data);
                    }
                });
        }
    </script>
    Footer
    © 2023 GitHub, Inc.
}

<button onclick="StartProcess()" type="button" class="btn btn-primary btn-success">Start the process</button>



<h2>Create New Student</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("baseUrl", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("baseUrl", "https://gambolthemes.net/html-items/cursus_main_demo/", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("url", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("url", "https://gambolthemes.net/html-items/cursus_main_demo/student_dashboard.html", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("wrapperClass", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("wrapperClass", "wrapper", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            Layout
            <textarea class="form-control">@ViewBag.Layout </textarea>
        </div>
        <div class="form-group">
            Nav
            <textarea class="form-control">@ViewBag.Nav </textarea>
        </div>
        <div class="form-group">
            Header
            <textarea class="form-control">@ViewBag.Header </textarea>
        </div>
        <div class="form-group">
            Script
            <textarea class="form-control">@ViewBag.Script </textarea>
        </div>
        <div class="form-group">
            Footer
            <textarea class="form-control">@ViewBag.Footer </textarea>
        </div>
    </div>
}

